<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Routing name="RoutingAppender">
            <Routes pattern="${ctx:testName}">
                <!-- Default log (before testName is set) -->
                <Route key="">
                    <File name="DefaultFile"
                          fileName="${sys:user.dir}/${sys:reportFolder}/logs/default.log"
                          append="false">
                        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n"/>
                    </File>
                </Route>

                <!-- Per-test logs -->
                <Route>
                    <File name="File-${ctx:testName}"
                          fileName="${sys:user.dir}/${sys:reportFolder}/logs/${ctx:testName}.log"
                          append="false">
                        <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RoutingAppender"/>
        </Root>
    </Loggers>
</Configuration>
